.nav {
  grid-area: n;
  background-color: burlywood;
  padding: 20px;
}
.item a {
  color: white;
  text-decoration: none;
}

.item a:hover {
  color: rgb(247, 210, 1);
}

.item a.active {
  color: red;
}
